<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title id="title">Blinkenschild 2.0</title>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<meta name="viewport" content="user-scalable=no, width=device-width" />
		<meta name="apple-mobile-web-app-title" content="Blinkenschild 2.0" />
		<link rel="stylesheet" href="style.css"><!-- TODO -->
		<style type="text/css">
			#image.images-preview {
				display: flex;
				flex-wrap: wrap;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	</head>
	<body ontouchstart="">
		<div id="viewport">
			<p>Blinkenschild 2.0</p>
			<p>Currently displaying: <pre>{{current_task}}</pre></p>
			<form id="youtube">
				<h2>YouTube</h2>
				<input type="url" name="yt_video" placeholder="https://www.youtube.com/watch?v=-gIgoTYyf-I">
				<input type="submit" id="play_youtube" value="Play">
			</form>
			<form id="picture">
				<h2>Pics &amp; GIFs</h2>
				<input type="file" name="pictureUploader" id="pictureUploader" accept="image/*">
				<div class="pictures-preview">
				</div>
				<input type="submit" id="display_picture" value="Display">
			</form>
			<form id="text">
				<h2>Text</h2>
				<input type="text" name="text">
				<input type="color" name="color">
				<input type="submit" value="Write">
			</form>
		</div>
	</body>
	<script type="text/javascript">
		$(function(){
			$("#youtube").submit(function(e){
				$.ajax({
					url: "/api/youtube",
					type: "POST",
					data: $("#youtube").serialize(),
					success: function(response){
						console.log(response);
					},
					error: function(error){
						console.log(error);
					}
				});
				e.preventDefault();
			});
		});





		$(function(){
			$("#pictureUploader").change(function(e){
				$.ajax({
					url: "/api/picture",
					type: "POST",
					success: function(response){
						console.log(response);
					},
					error: function(error){
						console.log(error);
					}
				});
				e.preventDefault();
			});
		});
		function changeHandler(files) {
			for (let i = 0, file; file = files[i]; i++) {
				if (!file.type.startsWith("image/")) {
					continue;
				}
				//upload image
				//display image from server
				let reader = new FileReader();
				reader.onload = function(event) {
					let newDatabaseString = event.target.result;
				}
				reader.readAsText(file);
			}
			return false;
		}
	</script>
</html>
